---
import BaseHeader from "@components/partials/header.astro"
import BaseFooter from "@components/partials/footer.astro"
---
<html>
    <head>
    </head>
    <body>
        <BaseHeader/>
        <main>
            <slot/>
        </main>
        <BaseFooter/>
    </body>
</html>